.scop-platform-redirect-auto-redirect-delete-config__iap-notice {
    margin-bottom: 16px;

    .mt-banner__message {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
}

.scop-platform-redirect-auto-redirect-delete-config__help-text {
    font-size: var(--font-size-xs);
}