<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/master/src/Core/System/SystemConfig/Schema/config.xsd">
    <card>
        <title>General</title>
        <title lang="de-DE">Allgemein</title>

        <input-field type="bool">
            <name>specialCharSupport</name>
            <label>Enable support for special chars (like umlauts) in the Source URL</label>
            <label lang="de-DE">Unterstützung für spezielle Zeichen (wie Umlaute) in der Quell URL aktivieren</label>
            <defaultValue>false</defaultValue>
        </input-field>

    </card>

    <card>
        <title>Auto-Redirect for deactivated products</title>
        <title lang="de-DE">Auto-Redirect für deaktivierte Produkte</title>

        <component name="scop-platform-redirect-auto-redirect-config">
            <name>autoRedirectEnabled</name>
        </component>
    </card>

    <card>
        <title>404 Errors</title>
        <title lang="de-DE">404-Fehler</title>

        <component name="scop-platform-redirect-not-found-config">
            <name>notFoundLogCleanupEnabled</name>
        </component>
    </card>

</config>
