.scop-platform-redirect-not-found-config__iap-notice {
    align-items: center;
    margin-bottom: 16px;

    .mt-banner__message {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
}
