.scop-platform-redirect-details {
    &__iap-banner {
        margin-bottom: 16px;

        .mt-button {
            margin-top: 8px;
        }
    }

    &__dangling-banner {
        margin-bottom: 16px;

        .mt-button {
            margin-top: 8px;
        }
    }

    &__entity-select {
        margin-bottom: 24px !important;
    }
}
